<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VanillaMD5</key>
	<string>623bb87fe286c136a0f2a5dd65d6005e</string>
	<key>PatchedMD5</key>
	<string>540966b59c6c8880c4bbfe4cd80a3e36</string>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>NVMe SSD IONameMatch</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Find</key>
				<data>PHN0cmluZz5wY2kxNDRkLGE4MDQ8L3N0cmluZz4=</data>
				<key>Replace</key>
				<data>PHN0cmluZz5wY2kxNDRkLGE4MDI8L3N0cmluZz4=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#01</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>hfZ0YUHB5wxJY/++IAAAAA==</data>
				<key>Replace</key>
				<data>hfZ0YUHB5wlJY/++IAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#02&amp;03</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>AAAAg/kMdVhBx4akAAAAABAAAEg=</data>
				<key>Replace</key>
				<data>AAAAg/kJdVhBx4akAAAAAAIAAEg=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#04</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>SI2G/w8AAEjB6AwPtw+B4Q==</data>
				<key>Replace</key>
				<data>SI2G/w8AAEjB6AkPtw+B4Q==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#05&amp;06</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>SIHm/w8AAEgB1kiB/v8PAAB3PEg=</data>
				<key>Replace</key>
				<data>SIHm/wEAAEgB1kiB/v8BAAB3PEg=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#07&amp;08&amp;09</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>DwAAScHuDEmLTQBIictIgeP/DwAAD5XAD7bARAHwg/gCD4W4AAAATI2hABAAAEyJ4EglAPD//0mJjyIBAABJiYcqAQAAQb4AEAAASSneSI0=</data>
				<key>Replace</key>
				<data>DwAAScHuCUmLTQBIictIgeP/DwAAD5XAD7bARAHwg/gCD4W4AAAATI2hAAIAAEyJ4EglAPD//0mJjyIBAABJiYcqAQAAQb4AAgAASSneSI0=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#10</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>hyoBAAC6ABAAAEgp</data>
				<key>Replace</key>
				<data>hyoBAAC6AAIAAEgp</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#11</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>AABJKdS4ABAAAE2L</data>
				<key>Replace</key>
				<data>AABJKdS4AAIAAE2L</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#12&amp;13</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>TYnXugAQAABFMclIid7oAAAAAE2J+kyLfdBJi4dgAQAATIls2PhJgcUAEAAASYHE</data>
				<key>Replace</key>
				<data>TYnXugACAABFMclIid7oAAAAAE2J+kyLfdBJi4dgAQAATIls2PhJgcUAAgAASYHE</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#14</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>DwAASMHpDGap/w8P</data>
				<key>Replace</key>
				<data>DwAASMHpCWap/w8P</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#15&amp;16&amp;17&amp;18&amp;19</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>QYP4B3dtRIpVEEQPt5+wAAAAQcHjEA+2h7YAAACD4AjB4ApECdiDyAKJhwoBAACJtw4BAABIiZcyAQAAioe2AAAAJAIPtsDB4B0JyImHOgEAAEHB4AhBD7bBRAnAicGByQAQAABFhNIPRMiJjz4BAA==</data>
				<key>Replace</key>
				<data>QYP4B3dtRA+2VRBED7efsAAAAEHB4xAPtoe2AAAAg+AIweAKRAnYg8gCiYcKAQAAibcOAQAASImXMgEAAIqHtgAAACQCD7bAweAdCciJhzoBAABBweAIQQ+2wcHgCZCQkJCQkJBECcBECdCJhz4BAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#20&amp;21&amp;22</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>bWlseQBM3+dk7uEBAxtod7NDkmZ8RmoM7MbBko1UOeURhexz8jC0QBHpwnZcOAy+0M5q79kte9ieOhQ3cXnHrtDMeglmxZUu</data>
				<key>Replace</key>
				<data>bWlseQDCWAL25PP+QYRY8X3U26m0N/9ZbcbBko1UOeURhexz8jC0QBHpwnZcJgpXfgJHp7UycgW4UjduFQJD+QjMeglmxZUu</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#23 - 50</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>BIIBAAEc4q061bvcKJoqBqpZgJRd3EF0z3II86cE1z2UBX+yWgvIBe32TxcxN5/xrIknz7ziPD9hZcqBLvrsUYRsLTze0gnCsspSI82TviTPQYEMYk+j5CE8ZDDjkDQXoW3ceSBTUzoKiJYfqB1qBOE32UsLib5sM9qlHrBr76yxo9rYnYWdOtZ72M88yNo9Vc5MZkgDhtaqRohNUwsiiF1yW08xxgNhZU2BE3xzn8XC0sYiEXHs9V5AFntNK7LbVCu3jgqkpxlxm7dmyDgMbzbFAB6hcl3lRLZdcPiwB8mubZegvdAAAwDPPFVEYZlB/YeRX6T6eO+ZxS7u1cvxXEex0xMAAAAA</data>
				<key>Replace</key>
				<data>BIIBAFjhf2OXh9C5pDLqAaMZOl8QQ8KDZNVIa9drFKiwvp8Zb1rrYOwRVgvIxJyL5wFhpAKV9CIY9usXBrgiYGahXiaBmWcaDnMAlLu2THdDzI4h3XN/02Dk9uL8RupUJJjhq4dJcZncs8Kd07co2Nml5nvrGUXV9jHJ2EgBMIm2OxjRuuApt0AWauSZ/dgXT1rlc4YcyYXCBRPCUqpm7C7Pcz202/io08M99B4aZvAcUzUv5e54pjCrZrtMFrz2Oh8hQZbFM0vXVKBXLEGAN9hmHe3o51sapwyyHikUZ827nlT+y4zHnWAMc0v7r6R4uQ1+8iaMwaf3gBjIlY8K2tFHkjMAAAAA</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
