<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VanillaMD5</key>
	<string>c506f1fc40026c0262a736f0be318223</string>
	<key>PatchedMD5</key>
	<string>ff9c55bf11e522dd86e3dc5b2df7ff24</string>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#1</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>weAMBQAQAACJgw==</data>
				<key>Replace</key>
				<data>weAJBQAQAACJgw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#2</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>D7aMiIIAAACD+QwPhTIBAA==</data>
				<key>Replace</key>
				<data>D7aMiIIAAACD+QkPhTIBAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#3</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>AMeDpAAAAAAQAABIi0gISA==</data>
				<key>Replace</key>
				<data>AMeDpAAAAAACAABIi0gISA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#4</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>SYnGTYX2dGFBwecMSWP/vg==</data>
				<key>Replace</key>
				<data>SYnGTYX2dGFBwecJSWP/vg==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#5</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>hv8PAABIwegMD7cPgeH/Dw==</data>
				<key>Replace</key>
				<data>hv8PAABIwegJD7cPgeH/Dw==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#6_7</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>icGB4f8PAABIAdFIgfn/DwAAdzs=</data>
				<key>Replace</key>
				<data>icGB4f8BAABIAdFIgfn/AQAAdzs=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#8</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>SYHF/w8AAEnB7QxJiwQkSA==</data>
				<key>Replace</key>
				<data>SYHF/w8AAEnB7QlJiwQkSA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#9_10</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>BgIAAEyNuAAQAABMiflIgeEA8P//SYmGGgEAAEmJjiIBAABBvAAQAABJKfQ=</data>
				<key>Replace</key>
				<data>BgIAAEyNuAACAABMiflIgeEA8P//SYmGGgEAAEmJjiIBAABBvAACAABJKfQ=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#11</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>AABJiY4iAQAAugAQAABIKQ==</data>
				<key>Replace</key>
				<data>AABJiY4iAQAAugACAABIKQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#12</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>yAAAAEkp17gAEAAATYskJA==</data>
				<key>Replace</key>
				<data>yAAAAEkp17gAAgAATYskJA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#13</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>4b+AQBUGTYnWugAQAABFMQ==</data>
				<key>Replace</key>
				<data>4b+AQBUGTYnWugACAABFMQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#14</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>iWTY+EmBxAAQAABJgccA8A==</data>
				<key>Replace</key>
				<data>iWTY+EmBxAACAABJgccA8A==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#15</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>Bf8PAABIwegMZvfB/w8PlQ==</data>
				<key>Replace</key>
				<data>Bf8PAABIwegJZvfB/w8PlQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#16</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>weIIQQ+2wcHgDEQJ0EQJwA==</data>
				<key>Replace</key>
				<data>weIIQQ+2wcHgCUQJ0EQJwA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>IONVMeFamily Pike R. Alpha Patch#17</string>
				<key>Disabled</key>
				<false/>
				<key>Name</key>
				<string>IONVMeFamily</string>
				<key>Find</key>
				<data>RYTJD5XAD7bAweAMRAnYRA==</data>
				<key>Replace</key>
				<data>RYTJD5XAD7bAweAJRAnYRA==</data>
			</dict>
		</array>
	</dict>
</dict>
</plist>
